body{
    font-family: 'Babylonica', cursive;
    font-family: 'Prompt', sans-serif;
}


button{
    padding: 10px;
    margin: 20px;
    cursor: pointer;
    font-size: 24px;
    background-color: purple;
    color: aliceblue;
    border-radius: 20px;
    
}

.hide{
    display: none;
}

.titleandquestions{
    font-size: 36px;
    text-align: center;
}
.titleinfo{
    font-size: 28px;
    text-align: center;
}
.timer{
    text-align: right;
    font-size: 28px;
}

.questions{
    display: inline-flex;
    flex-direction: column;
    max-width: 500px;
}
